macosx/legacy.xcodeproj/xcuserdata

macosx/reacTIVision.xcodeproj/xcuserdata

build

Debug

Release

Frameworks

*.pbxuser

*.mode1v3

macosx/legacy.xcodeproj/project.xcworkspace

macosx/reacTIVision.xcodeproj/project.xcworkspace
*.sdf
*.suo